/* *{
    margin: 10px;
} */

section {
    margin: 30px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    background-color: rgb(83, 122, 140,0.5);
  }

  /* table, th, td {
    border: 1px solid #ddd;
  } */

  th, td {
    padding: 8px;
    text-align: left;
  }

  th {
    background-color: #5d5c5c;
    color: white;
  }

  /* tr:not(:first-child):hover { */
  tr td:hover {
    background-color: #f0f0f0; /* Slightly darken the row color */
    transform: scale(1.02); /* Slightly enlarge the row */
}

/* To make the row slightly bigger on hover */
tr:hover td {
    background-color: rgb(240, 240, 240, 0.8);
    transform: scale(1.02);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

