.userMain {
    width: 100%;
    font-family: 'Arial', sans-serif;
    /* background-color: #f8f9fa; */
  }
  

.welcome {
    text-align: center;
    margin-top: 20px;
  }
  
  .welcome h1 {
    color: #333;
  }

  .dashboard {
    margin: 20px;
  }
  
  .dashboard h2 {
    color: #333;
  }
  
  .dashboard ul {
    list-style-type: none;
    padding: 0;
  }
  
  .dashboard li {
    margin: 10px 0;
  }
  
  .dashboard a {
    color: rgb(239, 150, 116);
    text-decoration: none;
    font-size: 18px;
    transition: font-size 0.3s ease, background-color 0.3s ease, color 0.3s ease;
  }
  
  .dashboard a:hover {
    font-size: 20px; /* Slight increase in font size */
    /* background-color: #e0e0e0; */
    color: rgb(239, 150, 116);
  }
  