<app-navbar-user></app-navbar-user>
<div class="userMain">
    <div class="welcome">
        <h1>Welcome, {{ username }}!</h1>
    </div>
    <div class="dashboard">
        <h2>Quick Access</h2>
        <nav>
            <a routerLink="/user/bus">View Available Buses</a>
            <a routerLink="/user/book">Book a Bus Ticket</a>
        </nav>
        <!-- <ul>
            <li><a routerLink="user/bus">View Available Buses</a></li>
            <li><a routerLink="user/book">Book a Bus Ticket</a></li>

        </ul> -->
    </div>

</div>


has context menu
